
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: sans-serif;
  color: #222222;
  line-height: 25px;
  letter-spacing: 3px;;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

#body-sp {
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex-sp {
  display: flex;
  justify-content: space-between;
}

.header-right-sp {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
  background: #8cbc3c;
}

.header-right-sp img{
  height: 50px;
  padding: 12px;
}

.mainvisual-sp {
  background-color: #8cbc3c;
}

.mainvisual-sp img {
  width: 100%;
}

#header-sp {
  height: 80px;
}

.header-left-sp img{
  width: 230px;
  padding-top: 20px;
  padding-left: 20px;
}

.position-sp1-back {
  height: 260px;
  background: #8cbc3c;
  position: relative;
}

.position-sp1 {
  background: white;
  width: 80%;
  margin: 0 auto;
  padding: 30px 20px;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

h1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 45px;
  text-shadow: 5px 5px 0 #e5e5e5;
  padding: 20px 0;
  font-family: 'Montserrat';
}

h2 {
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  padding-bottom: 20px;
}

p {
  font-size: 14px;
}

#concept-sp .container-sp, #team-sp .container-sp, #contact-sp .container-sp {
  width: 90%;
  margin: 0 auto;
}

#concept-sp span {
  color: #8cbc3c;
  font-family: 'Montserrat';
}

#concept-sp > .container-sp > img {
  width: 90%;
  box-shadow: 40px 20px #8cbc3c;
}

.concept-text-sp {
  padding: 40px 0;
}

.concept-btn-sp {
  border: solid 1px #8cbc3c;
  background: #8cbc3c;
  padding: 2px;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#concept-sp a img {
  width: 40%;
}

.concept-btn-sp p {
  color: white;
  font-size: 25px;
}

a {
text-decoration: none;
}

.business-title-sp {
  background: #8cbc3c;
  padding-left: 20px;
  
}

.business-title-sp h1 {
  padding-bottom: 10px;
  color: white;
  text-shadow: 7px 7px rgb(147, 168, 132);
}

.business-title-sp p {
  color: white;
  padding-bottom: 20px;
}

h3 {
  font-weight: bold;
}

#business-sp img {
  height: 200px;
}

.background-sp {
  width: 100%;
  height: 200px;
  background: url(../img3/4672614_m.jpg) center / cover no-repeat;
}

.business-text-sp {
  width: 90%;
  margin:0 auto;
}

.business-text-sp h3 {
  padding: 20px 0;
  font-size: 18px;
}

.business-btn-sp {
  margin: 0 auto;
  text-align: center;
}

.business-btn-sp a {
  background: #8cbc3c;
  color: white;
  padding: 17px;
  margin: 30px 0;
  display: block;
  letter-spacing: 2px;
  font-weight: bold;
  border: 1px solid #8cbc3c;
  transition: 0.2s;
}

.business-btn-sp a:hover {
  background: white;
  color:#8cbc3c;
}

#news-sp {
  background: #222222;
  padding-bottom: 20px;
}

#news-sp h1, #news-sp p {
  width: 90%;
  margin: 0 auto;
  color: white;
  text-shadow: 5px 5px black;
}

#news-sp h1 {
  padding-top: 30px;
  padding-bottom: 0;
}

#news-sp p {
  padding-bottom: 30px;
}

.insta-box {
  width: 87%;
  padding: 10px;
  background: #434343;
  margin: 10px auto 0 auto;
}

.instagram-media {
  width: 100%;
}

#team-sp h1 {
  padding-top: 40px;
  padding-bottom: 0;
}

#team-sp > .container-sp > p {
  padding-bottom: 50px;
}

.flex-item-sp {
  background: #8cbc3c;
  width: 46%;
  margin-bottom: 80px;
  text-align: center;
  padding-top: 130px;
  padding-bottom: 25px;
  position: relative;
}

.flex-item-sp p {
  color: white;
  font-size: 10px;
  letter-spacing: 2px;
}

.flex-item-sp h3 {
  color: white;
  letter-spacing: 2px;
}

.flex-item-sp img {
  width: 140px;
  position: absolute;
  top: -10px;
  left: -5px;
}

.contact-btns-sp {
  text-align: center;
}

#footer-sp .container-sp {
  text-align: center;
  background: #8cbc3c;
}

.footer-above-sp {
  padding-top: 70px;
  padding-bottom: 50px;
}

.footer-below-sp {
  margin: 20px auto;
  padding: 70px 0;
  width: 90%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.footer-above-sp a {
  display: block;
  color: white;
  font-weight: bold;
  font-size: 24px;
  font-family: 'Montserrat';
  padding: 10px 0;
}

.footer-above-sp a:hover {
  text-decoration: underline;
}

.footer-below-sp p {
  color: white;
}

.last-footer-sp {
  background: #8cbc3c;
  color: white;
  padding-bottom: 5px;
}












